.jumbotron
	%h1 
	%p Bring Your Bag Chicago is about creating a cultural shift AWAY from disposables, TOWARDS reusables. Founded in 2011, our goal is to rid the world of plastic pollution one reusable bag at a time. EVERYONE IS WELCOME!
	.row
		.col-md-4.col-md-offset-2
			%iframe{:src => "//player.vimeo.com/video/68606941", :allowfullscreen => "true", :frameborder => "0", :height => "300", :mozallowfullscreen => "true", :webkitallowfullscreen => "true", :width => "400"}
		.col-3
			%p We will support legislation that incentivizes bringing your own bag. But really, the most important part of this movement is YOU. Say NO to plastic bags, make the switch to reusables, and improve the world today!
	%h2 In The News
	%p Cities all over the US are acting to ban plastic bags. Notice how the sky hasn't fallen in these
	%a{:href => "http://latimesblogs.latimes.com/lanow/2010/11/la-county-passes-sweeping-ban-on-plastic-bags.html"} Los Angeles, CA
	%a{:href => "http://abclocal.go.com/kgo/story?section=news/local/san_francisco&id=8830422"} San Francisco, CA
	%a{:href => "http://plasticbagbanreport.com/portland-expands-plastic-bag-ban-to-all-retailers/"} Portland, OR
	%a{:href => "http://www.myfoxaustin.com/story/21437411/austins-bag-ban-is-now-in-effect"} Austin, TX
