<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="index-h1">BRING YOUR BAG</h1>
        <link href="http://fonts.googleapis.com/css?family=Purple+Purse" rel="stylesheet" type="text/css"></link>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 hidden-xs index-img">
        <img/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 offset2 col-lg-8 panel index-h2">Chicago votes to reduce plastic bags very soon. NOW is the absolute BEST time to show your support.	</div>
      <link href="http://fonts.googleapis.com/css?family=Candal" rel="stylesheet" type="text/css">
    </div>
    <div class="row social">
      <div class="col-xs-12 col-sm-8 offset3 col-md-7 offset4">
        <a href="https://www.facebook.com/bringyourbagchicago">Check out your photos here</a>
        <link href="http://fonts.googleapis.com/css?family=Radley" rel="stylesheet" type="text/css">
      </div>
    </div>
    <div class="row signup">
      <div class="col-xs-2 col-sm-4 col-md-5 col-lg-5 indx-h5"></div>
      <iframe allowTransparency="true" frameborder="0" height="423" scrolling="no" src="https://msolomo2.wufoo.com/embed/z1ayxpo0070ejxf/" style="width:100%;border:none"></iframe>
    </div>
  </div>
</div>
