.jumbotron
	.container-fluid
		.row-fluid
			.col-xs-12
				%h1.index-h1 BRING YOUR BAG
				%link{:href => "http://fonts.googleapis.com/css?family=Purple+Purse", :rel => "stylesheet", :type => "text/css"}
		.row-fluid	
			.col-xs-12.hidden-xs.index-img
				%img(src='http://d22r54gnmuhwmk.cloudfront.net/photos/7/vp/ji/BoVPjIpQMUBVzYE-556x313-noPad.jpg')	
		.row-fluid			
			.col-xs-12.offset3.col-sm-7.col-md-12.col-lg-6.panel.index-h2 Chicago votes to reduce plastic bags very soon. NOW is the absolute BEST time to show your support.	
			%link{:href => "http://fonts.googleapis.com/css?family=Candal", :rel => "stylesheet", :type => "text/css"}/
		.row-fluid	 		
			.col-xs-2.col-sm-4.col-md-5.col-lg-5.indx-h3
			%iframe{:allowTransparency => "true", :frameborder => "0", :height => "423", :scrolling => "no", :src => "https://msolomo2.wufoo.com/embed/z1ayxpo0070ejxf/", :style => "width:100%;border:none"}
		
/ <div id="myCarousel" class="carousel slide">

/   <!-- Carousel items -->
/   <div class="carousel-inner">
/     <div class="active item"><blockquote>
/ 							<p>“Zach is simply amazing. He is one of the best tennis instructors around. He’s extremely professional, fun and talented. Our experience overall with my tennis lessons has been a walk in the park. I would highly recommend MyTennisLessons.com services to anyone looking for a good tennis instructor.”</p>

/ 							<cite>- Lesley L - Los Angeles, CA</cite>
/ 						</blockquote></div>
/     <div class="item"><blockquote>
/ 							<p>“ My instructor Kevin of My Tennis Lessons was engaging, well informed and dedicated to making my game the best it can be. I've taken lessons from others but found the most improvement came with working with him. ”</p>

/ 							<cite>- Pete V - Washington, DC</cite>
/ 						</blockquote></div>
/     <div class="item"><blockquote>
/ 							<p>“Joel is very patient, and the more hard working you are, the harder he works with you :) "</p>

/ 							<cite>- Rami N - Houston, TX</cite>
/ 						</blockquote></div>
/     <div class="item"><blockquote>
/ 							<p>“My daughter and I have really enjoyed our tennis lessons with Luke.  He is able to work effectively with a teenager and myself simultaneously while keeping the sessions fun!"</p>

/ 							<cite>- Kimberley J - Tampa, FL</cite>
/ 						</blockquote></div>
/   </div>
/   <!-- Carousel nav -->
/   <a class="arrowleft" href="#myCarousel" data-slide="prev">Left</a>
/   <a class="arrowright" href="#myCarousel" data-slide="next">Right</a>
/ </div>


			
