!!!
%html
  %head
    %title Bring Your Bag | Chicago
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
  %body
    .jumbotron
      .container
        %h1 Bring Your Bag
        %img(src="http://www.surfrider.org/images/uploads/blog/chicago.bag.jpg")





    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "//code.jquery.com/jquery.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}