.jumbotron
	.container-fluid
		.row-fluid
			.col-xs-12
				%h1.index-h1 BRING YOUR BAG
				%link{:href => "http://fonts.googleapis.com/css?family=Purple+Purse", :rel => "stylesheet", :type => "text/css"}
		.row-fluid	
			.col-xs-12.hidden-xs.index-img
				%img(src='http://d22r54gnmuhwmk.cloudfront.net/photos/7/vp/ji/BoVPjIpQMUBVzYE-556x313-noPad.jpg')	
		.row-fluid			
			.col-xs-12.offset3.col-sm-7.col-md-12.col-lg-6.panel.index-h2 Chicago votes to reduce plastic bags very soon. NOW is the absolute BEST time to show your support.	
			%link{:href => "http://fonts.googleapis.com/css?family=Candal", :rel => "stylesheet", :type => "text/css"}/
		.row
			%p.index-h3 Did we trap you in our plastic-bag house of horrors this Halloween? 
		.row
			.col-xs-12		
			%a.button{:href => "https://www.facebook.com/bringyourbagchicago"} Check out your photos here!	
		.row-fluid	 		
			.col-xs-2.col-sm-4.col-md-5.col-lg-5.indx-h5
			%iframe{:allowTransparency => "true", :frameborder => "0", :height => "423", :scrolling => "no", :src => "https://msolomo2.wufoo.com/embed/z1ayxpo0070ejxf/", :style => "width:100%;border:none"}

		/ .row-fluid
		/ 	#carousel-example-generic.carousel.slide
		/ 		.carousel-inner
		/ 		.item.active
		/ 			%img{:src => "Tent.jpg", :width =>"100"}
		/ 		.item
		/ 			%img{:src => "BagsBlow.jpg", :width =>"100"}
		/ 		.item
		/ 			%img{:src => "Pirate.jpg", :width =>"100"}	
		/ 		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
		/ 			%span.icon-prev
		/ 		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
		/ 			%span.icon-next
		


			
