.jumbotron
	.container
		.row
			%input{placeholder: "Enter Zipcode"}
			%button.btn-large.btn-primary Call Your Alderman
		%h1.index-h1 BRING YOUR BAG
		%link{:href => "http://fonts.googleapis.com/css?family=Purple+Purse", :rel => "stylesheet", :type => "text/css"}
		.row
		.col-md-1.col-md-offset-0
		%img(src='http://d22r54gnmuhwmk.cloudfront.net/photos/7/vp/ji/BoVPjIpQMUBVzYE-556x313-noPad.jpg')
		.col-md-4
			%h2 Chicago will be voting on legislation to reduce plastic bags very soon. NOW is the absolute BEST time to make your voice heard. 