.jumbotron
	.row
		.col-md-8.col-md-offset-1.panel.issue-h1 Our use of plastic bags (500 billion to 1 trillion consumed worldwide every year) has gotten out of control. At a time when our environment is hurting, we aught to look at our everyday lives to reduce unneeded waste. 
	.row
		.col-xs-12.col-md-offset-1.col-lg-12.issue-h2 The U.S. alone throws away 100 billion plastic bags each year. These bags end up in our landfills, our oceans, and our streets.
		%link{:href => "http://fonts.googleapis.com/css?family=Candal", :rel => "stylesheet", :type => "text/css"}/
	.row
		.col
			%h3.issue.h	 
			%ul
				%li.issue-h3 In 2008, approximately 3,960,000 tons of plastic bags, sacks and wraps were produced, 90% of which (3,570,000 tons) were not recycled. 
				%li.issue-h4 Over 100,000 animals die every year after ingesting or becoming entangled in plastic.
				%li.issue-h5 Up to 46,000 pieces of plastic float in every square mile of ocean. The second-most common refuse found in the ocean is plastic bags. 
				%li.issue-h6 It takes up to 1,000 years for a plastic bag to degrade.
				%li.issue-h7 Buying reusable bags costs as low as 99 cents, and the better quality cost around $13.
	.row
		.col-xs-12.col-md-offset-1.col-lg-12.issue-h8 For a small change, we can all cause a significant reduction in the world’s plastic pollution. It’s just a matter of making the switch.
		%link{:href => "http://fonts.googleapis.com/css?family=Candal", :rel => "stylesheet", :type => "text/css"}/  
	.row
		.col-xs-12.col-md-offset-1.col-lg-12.panel.issue-h9 To encourage reusables, Chicago is preparing to pass legislation that would greatly incentives bringing your own bag. We consider bringing your own bag to be a slight change for a great gain. If you agree, sign up! We'll let you know when the vote is set to happen.   	       