<div class="jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-1 panel issue-h1">Our use of plastic bags (500 billion to 1 trillion consumed worldwide every year) has gotten out of hand. At a time when our environment is hurting, we aught to look at our everyday lives to reduce unneeded waste. </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-lg-12 issue-h2">The U.S. alone throws away 100 billion plastic bags each year. These bags end up in our landfills, our oceans, and our streets.</div>
    <link href="http://fonts.googleapis.com/css?family=Candal" rel="stylesheet" type="text/css">
  </div>
  <div class="row">
    <div class="col">
      <h3 class="issue h"></h3>
      <ul>
        <li class="issue-h3">In 2008, approximately 3,960,000 tons of plastic bags, sacks and wraps were produced, 90% of which (3,570,000 tons) were not recycled. </li>
        <li class="issue-h4">Over 100,000 animals die every year after ingesting or becoming entangled in plastic.</li>
        <li class="issue-h5">Up to 46,000 pieces of plastic float in every square mile of ocean. The second-most common refuse found in the ocean is plastic bags. </li>
        <li class="issue-h6">It takes up to 1,000 years for a plastic bag to degrade.</li>
        <li class="issue-h7">Buying reusable bags costs as low as 99 cents, and the better quality cost around $13.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-lg-12 issue-h8">With a small change, we can all cause a significant reduction in the world’s plastic pollution. It’s just a matter of making the switch.</div>
    <link href="http://fonts.googleapis.com/css?family=Candal" rel="stylesheet" type="text/css">
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-lg-12 panel issue-h9">To encourage reusables, Chicago is preparing to pass legislation that would greatly incentives bringing your own bag. We consider bringing your own bag to be a slight change for a great gain. If you agree, sign up! We'll let you know when the vote is set to happen.   	       </div>
  </div>
</div>
