.jumbotron
	.row
		.col-md-8.col-md-offset-1
			%h1.issue-h1 Our use of plastic can often be put out of mind. But it all goes somewhere... 
			%img.issue-img-gyre(src='http://www.beachapedia.org/images/thumb/9/94/Pacific-garbage-patches-currents_noaa-marine-debris_id.png/400px-Pacific-garbage-patches-currents_noaa-marine-debris_id.png')
			%h2.issue-h2 One of those places is the North West Garbage Patch, an ecowasteland the size of Texas x miles off the West coast.   