!!!
%html
  %head
    %title Bring Your Bag | Chicago
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.css", :media => "screen", :rel => "stylesheet"}/
    %link{href: "css/bootstrap-responsive.css", rel: "stylesheet"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{:href => "css/styles.css", :rel => "stylesheet"}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
  %body
    #header
      .navbar.navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %i.glyphicon.glyphicon-align-justify
            %a.navbar-brand(href="/")
              %img.brand{:src=>"http://www.underconsideration.com/brandnew/archives/chicago_flag.gif", :width => "130", :height => "80"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .nav-collapse#navigation-links
              %ul.nav.navbar-nav
                %li.active
                  %a{:href => "/about"} About
                %li.active
                  %a{:href => "/issue"} Issue
                %li.active
                  %a{:href => "/events"} Events
                %li.active
                  %a{:href => "#"} Merch
                %li.active
                  %a{:href => "#"} Donate 
    #container
      =yield
    / jQuery (necessary for Bootstrap's JavaScript plugins)
  %script{:src => "//code.jquery.com/jquery.js"}
  / Include all compiled plugins (below), or include individual files as needed
  %script{:src => "js/bootstrap.min.js"}