#navigation-links {
	padding-top: 30px;
	font-size: 2.0em;
	font-family: “Trebuchet MS”, Tahoma, Arial, sans-serif;

}

#header {
	height: 115px;
	border-style: solid;
	border-color: white white gray;
}

ul li {
	list-style-type: circle;
}

ul li a {
	font-size: .8em;
}

.row.singup i {
	padding-top: 50px;
}

.row.social a {
	font-size: .7em;
	font-family: 'Radley', serif;
	padding-bottom: 50px;
}

#container {
	border-style: solid;
	border-color: white white gray;
}

.about-p1 {
	font-size: 15px;
}

.about-p2 {
	font-size: 15px;
}

.about-p3 {
	font-size: 15px;
}

.about-side-text {
	padding-top: 30px;
}

.about-h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	
}

.about-h3 {
	text-align: center;
}

.about-h4 {
	padding-top: 15px; padding-left: 10px; 
	font-family: 'Candal', sans-serif; font-size: 23px
}

.index-h1 {
	font-family: 'Purple Purse', cursive;
	text-align: center;

}

.img {
	max-width: 100%;
	height: auto;
}
.index-h2 {
	font-family:'Candal', sans-serif;
	font-size: 13px;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
}

.index-h3 {
	font-size: 17px;
}
.indx-h4 {
	font-size: 10px;
}

.index-h5 {
	font-family:'Candal', sans-serif;
	font-size: 25px;
	text-align: center;

}
.index-img {
	text-align: center;
	
}
.issue-h1 {
	font-size: 13px
}
.issue-h2 {
	font-size: 12px;
	font-family:'Candal', sans-serif;
}
.issue-h3 {
	font-size: 12px;
	font-style: oblique;	
}
.issue-h4 {
	font-size: 12px;
	font-style: oblique;
}
.issue-h5 {
	font-size: 12px;
	font-style: oblique;
}
.issue-h6 {
	font-size: 12px;
	font-style: oblique;
}
.issue-h7 {
	font-size: 12px;
	font-style: oblique;
}
.issue-h8 {
	font-size: 12px;
	font-family:'Candal', sans-serif;
	padding-bottom: 15px;
}
.issue-h9 {
	font-size: 13px;