#navigation-links {
	padding-top: 15px; 
	font-size: 2.0em;
	font-family: “Trebuchet MS”, Tahoma, Arial, sans-serif;

}

#header {
	height: 115px;
	border-style: solid;
	border-color: white white gray;
}

#container {
	border-style: solid;
	border-color: white white gray;
}

.about-side-text {
	padding-top: 30px;
}

.about-h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	
}
.about-h4 {
	padding-top: 15px; padding-left: 60px; 
	font-family: 'Candal', sans-serif; font-size: 30px
}
.issue-h1 { 
	font-size: 23px

}
.issue-h2 {
	font-size: 23px;
	text-align: center;
}

.index-h1 {
	font-family: 'Purple Purse', cursive;
	text-align: center;

}

.img {
	max-width: 100%;
	height: auto;
}
.index-h2 {
	font-family:'Candal', sans-serif;
	font-size: 13px;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
}

.index-h3 {
	font-family:'Candal', sans-serif;
	font-size: 15px;
	text-align: center;

}
.index-img {
	text-align: center;
	
}
